<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Picture Bingo <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphiconglyphicon-flash"></span> Download PDF</a> </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Current Pictures</h3>
      <ul>
          <li>Picture 1</li>

          <li>Picture 2</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-cog"></span> Settings</h3>
      <ul>
        <li>Size</li>
        <li>Free space</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
